<!--
TODO: Create css thumbnail class
TODO: Create css letter-list-item class
TODO: Create css letters
TODO: Create css thumb class
-->
<!-- Title and introductory text -->
<div class="row">
  <div class="col-md-12">
    <h1>Pliny's Letters Digital Commentary</h1>
    <p>Select a letter below to view its text and commentary. Search using the search box to more easily find a specific letter.</p>
  </div>
</div>
<!-- Letter List -->
<div class="container-fluid">
  <div class="row">
    <!-- Search bar -->
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
    </div>
    <!-- Letters -->
    <div class="col-md-10 letterList">
      <ul>
        <li ng-repeat="letter in $ctrl.letters | filter:$ctrl.query">
          <a href="#!/letters/{{letter.id}}">{{letter.title}}</a>
          <p>{{letter.description}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>