<!--
TODO: Create css thumbnail class
TODO: Create css letter-list-item class
TODO: Create css letters
TODO: Create css thumb class
-->

<div class="container-fluid">
  <div class="row">
    <!-- Search bar -->
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
    </div>
    <!-- Letters -->
    <div class="col-md-10">
      <ul>
        <li ng-repeat="letter in $ctrl.letters | filter:$ctrl.query">
          <a href="#!/letters/{{letter.id}}">{{letter.id}}</a>
          <p>{{letter.description}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>