<!--
TODO: Create css thumbnail class
TODO: Create css letter-list-item class
TODO: Create css letters
TODO: Create css thumb class
-->
<!-- Title and introductory text -->
<div class="row">
  <div class="col-md-12">
    <h1>Pliny's Letters Digital Commentary</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquam assumenda consequuntur cum eius, eos exercitationem fuga labore laudantium mollitia nulla officiis praesentium, quaerat quidem. Assumenda impedit minus odit!</p>
  </div>
</div>
<!-- Letter List -->
<div class="container-fluid">
  <div class="row">
    <!-- Search bar -->
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
    </div>
    <!-- Letters -->
    <div class="col-md-10">
      <ul>
        <li ng-repeat="letter in $ctrl.letters | filter:$ctrl.query">
          <a href="#!/letters/{{letter.id}}">{{letter.id}}</a>
          <p>{{letter.description}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>